{% extends 'base.html' %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <title>{% block title %}CasePage{% endblock %}</title>
</head>
{% block content %}
<body class="body">

    <div class="load load-inactive">
        <button class="load-close">
            <img src="{{ url_for('static', filename='assets/images/icons/close-icon.png') }}" alt="Закрыть">
        </button>
        <h2 class="load__title">Добавить DICOM</h2>
        <title>Upload new File</title>
    <h1>Upload new File</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
        <!--<form class="file" method="post">
            <div class="file__wrapper">
                <label class="file__label">Загрузить файл</label>
                <input class="file__input" type="file">
                <div class="load-field">
                    <input class="load-field__item" placeholder="Перетащите файл в эту область" type="file">
                    <label class="load-field__label">
                        <div>
                            Перетащите файл в эту область
                        </div>
                    </label>
                </div>
                <button
                type="submit"
                class="save-btn">Сохранить</button>
            </div>
        </form>-->
    </div>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="logo" href="index.html">
                    <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Логотип">
                </a>
                <div class="user">
                    <div class="user__title" href="#">
                        <div class="user__title-custom">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path
                                    d="M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z" />
                            </svg>
                        </div>
                        teymur ynusiv
                    </div>
                    <a class="user__profile" href="{{ url_for('account') }}">Личный кабинет</a>
                    <a class="help" href="#">Помощь</a>
                    <a class="exit" href="{{ url_for('index') }}">Выйти</a>
                </div>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="container">
            <div class="main__inner">
                <div class="main__side"></div>
                <div class="content">
                    <div class="case">
                        <div class="case__item">
                            <div class="case__info">
                                <div class="case__info-top">
                                    <h2 class="case__title">
                                        Случай #12770
                                    </h2>
                                    <div class="case__title-links">
                                        <a class="case__title-link" href="#">
                                            <img src="{{ url_for('static', filename='assets/images/icons/edit.png') }}" alt="Править">
                                        </a>
                                        <a class="case__title-link" href="#">
                                            <img src="{{ url_for('static', filename='assets/images/icons/load.png') }}" alt="Загрузить">
                                        </a>
                                    </div>
                                </div>
                                <div class="case__info-bottom">
                                    <div class="primary-content">
                                        <div class="primary-content__common">
                                            <div class="data-primary">
                                                Дата:
                                                <span>28 апреля 2022 г.</span>
                                            </div>
                                            <div class="data-secondary">
                                                Дата рождения:
                                                <span>28 апреля 2022 г.</span>
                                            </div>
                                            <div class="gender">
                                                Пол:
                                                <span>Unknown</span>
                                            </div>
                                        </div>
                                        <button class="primary-content__consult">На консультацию</button>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <button class="buttons__item" id='0'>
                                    <div class="buttons__item-counter">15</div>
                                    Слайды
                                </button>
                                <button class="buttons__item" id='1'>
                                    <div class="buttons__item-counter">7</div>
                                    Радиология
                                </button>
                                <button class="buttons__item" id='2'>
                                    <div class="buttons__item-counter">4</div>
                                    Документы
                                </button>
                                <button class="buttons__item" id='3'>
                                    <div class="buttons__item-counter">1</div>
                                    Участники
                                </button>
                                <button class="buttons__item" id='4'>
                                    <div class="buttons__item-counter">5</div>
                                    Заключения
                                </button>
                            </div>
                        </div>
                        <div class="case__item-content slides" id='0'>
                            <form class="search">
                                <div class="search__wrapper searching">
                                    <input class="search__input" placeholder="Поиск">
                                </div>
                                <div class="search__wrapper sorting">
                                    <input class="search__input" placeholder="Сортировка">
                                </div>
                                <div class="search__btns">
                                    <img src="{{ url_for('static', filename='assets/images/search-btns.png') }}" alt="Кнопки">
                                </div>
                            </form>
                            <div class="sample">
                                <div class="sample__inner">
                                    <div class="sample__img">
                                        <a data-fancybox="gallery" class="sample__img-link"
                                            href="{{ url_for('static', filename='assets/images/sample-el-1-bg.png') }}">
                                            <img src="{{ url_for('static', filename='assets/images/sample-el-1.png') }}" alt="Радиология">
                                        </a>
                                    </div>
                                    <div class="sample__content">
                                        <h3 class="sample__content-title">lk5695.svs</h3>
                                        <div class="sample__content-about">
                                            <h4 class="sample__content-title">
                                                Дата: 28 апреля 2022 г.
                                            </h4>
                                            <div class="select-wrapper">
                                                <div class="select__custom">Окраска:</div>
                                                <select class="select">
                                                    <option class="select__item">A-1 Antitrypsin</option>
                                                    <option class="select__item">Actin Muscle Specific</option>
                                                    <option class="select__item">14-3-3 zeta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sample">
                                <div class="sample__inner">
                                    <div class="sample__img">
                                        <a data-fancybox="gallery" class="sample__img-link"
                                            href="{{ url_for('static', filename='assets/images/sample-el-2-bg.png') }}">
                                            <img src="{{ url_for('static', filename='assets/images/sample-el-1.png') }}" alt="Радиология">
                                        </a>
                                    </div>
                                    <div class="sample__content">
                                        <h3 class="sample__content-title">lk5695.svs</h3>
                                        <div class="sample__content-about">
                                            <h4 class="sample__content-title">
                                                Дата: 28 апреля 2022 г.
                                            </h4>
                                            <div class="select-wrapper">
                                                <div class="select__custom">Окраска:</div>
                                                <select class="select">
                                                    <option class="select__item">A-1 Antitrypsin</option>
                                                    <option class="select__item">Actin Muscle Specific</option>
                                                    <option class="select__item">14-3-3 zeta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sample">
                                <div class="sample__inner">
                                    <div class="sample__img">
                                        <a data-fancybox="gallery" class="sample__img-link"
                                            href="{{ url_for('static', filename='assets/images/sample-el-3-bg.png') }}">
                                            <img src="{{ url_for('static', filename='assets/images/sample-el-1.png') }}" alt="Радиология">
                                        </a>
                                    </div>
                                    <div class="sample__content">
                                        <h3 class="sample__content-title">lk5695.svs</h3>
                                        <div class="sample__content-about">
                                            <h4 class="sample__content-title">
                                                Дата: 28 апреля 2022 г.
                                            </h4>
                                            <div class="select-wrapper">
                                                <div class="select__custom">Окраска:</div>
                                                <select class="select">
                                                    <option class="select__item">A-1 Antitrypsin</option>
                                                    <option class="select__item">Actin Muscle Specific</option>
                                                    <option class="select__item">14-3-3 zeta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sample">
                                <div class="sample__inner">
                                    <div class="sample__img">
                                        <a data-fancybox="gallery" class="sample__img-link"
                                            href="{{ url_for('static', filename='assets/images/sample-el-4-bg.png') }}">
                                            <img src="{{ url_for('static', filename='assets/images/sample-el-1.png') }}" alt="Радиология">
                                        </a>
                                    </div>
                                    <div class="sample__content">
                                        <h3 class="sample__content-title">lk5695.svs</h3>
                                        <div class="sample__content-about">
                                            <h4 class="sample__content-title">
                                                Дата: 28 апреля 2022 г.
                                            </h4>
                                            <div class="select-wrapper">
                                                <div class="select__custom">Окраска:</div>
                                                <select class="select">
                                                    <option class="select__item">A-1 Antitrypsin</option>
                                                    <option class="select__item">Actin Muscle Specific</option>
                                                    <option class="select__item">14-3-3 zeta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sample">
                                <div class="sample__inner">
                                    <div class="sample__img">
                                        <a data-fancybox="gallery" href="{{ url_for('static', filename='assets/images/sample-el-5-bg.png') }}"
                                            class="sample__img-link" href="#">
                                            <img src="{{ url_for('static', filename='assets/images/sample-el-1.png') }}" alt="Радиология">
                                        </a>
                                    </div>
                                    <div class="sample__content">
                                        <h3 class="sample__content-title">lk5695.svs</h3>
                                        <div class="sample__content-about">
                                            <h4 class="sample__content-title">
                                                Дата: 28 апреля 2022 г.
                                            </h4>
                                            <div class="select-wrapper">
                                                <div class="select__custom">Окраска:</div>
                                                <select class="select">
                                                    <option class="select__item">A-1 Antitrypsin</option>
                                                    <option class="select__item">Actin Muscle Specific</option>
                                                    <option class="select__item">14-3-3 zeta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="case__item-content radiology case-hidden" id='1'>
                            <form class="search">
                                <div class="search__wrapper searching">
                                    <input class="search__input" placeholder="Поиск">
                                </div>
                                <div class="search__wrapper sorting">
                                    <input class="search__input" placeholder="Сортировка">
                                </div>
                                <div class="search__btns">
                                    <img src="{{ url_for('static', filename='assets/images/search-btns.png') }}" alt="Кнопки">
                                </div>
                            </form>
                            <button class="add-smth">Добавить dicom</button>
                        </div>
                        <div class="case__item-content documents case-hidden" id='2'>
                            <ul class="data">
                                <li class="data__item">
                                    <h3 class="data__item-title">№</h3>
                                    <div class="data__item-text">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas totam
                                        explicabo voluptatibus veritatis dolor! Ad nesciunt voluptatum, praesentium rem
                                        deleniti repellat delectus quos! Veniam sit quasi laboriosam iste minima
                                        incidunt.
                                    </div>
                                </li>
                                <li class="data__item">
                                    <h3 class="data__item-title">Имя</h3>
                                    <div class="data__item-text">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas totam
                                        explicabo voluptatibus veritatis dolor! Ad nesciunt voluptatum, praesentium rem
                                        deleniti repellat delectus quos! Veniam sit quasi laboriosam iste minima
                                        incidunt.
                                    </div>
                                </li>
                                <li class="data__item">
                                    <h3 class="data__item-title">Размер</h3>
                                    <div class="data__item-text">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas totam
                                        explicabo voluptatibus veritatis dolor! Ad nesciunt voluptatum, praesentium rem
                                        deleniti repellat delectus quos! Veniam sit quasi laboriosam iste minima
                                        incidunt.
                                    </div>
                                </li>
                                <li class="data__item">
                                    <h3 class="data__item-title">Дата</h3>
                                    <div class="data__item-text">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas totam
                                        explicabo voluptatibus veritatis dolor! Ad nesciunt voluptatum, praesentium rem
                                        deleniti repellat delectus quos! Veniam sit quasi laboriosam iste minima
                                        incidunt.
                                    </div>
                                </li>
                            </ul>
                            <button class="add-smth">Добавить dicom</button>
                        </div>
                        <div class="case__item-content participants case-hidden" id='3'>
                            <div class="gridList">
                                <div class="gridList__item">
                                    <div class="grid-el">
                                        <div class="grid-el__col">
                                            <h3 class="grid-el__title">№</h3>
                                            <div class="grid-el__text">1</div>
                                        </div>
                                        <div class="grid-el__col">
                                            <h3 class="grid-el__title">Имя</h3>
                                            <div class="grid-el__text">teymur yunusov</div>
                                        </div>
                                        <div class="grid-el__col">
                                            <h3 class="grid-el__title">Специальность</h3>
                                            <div class="grid-el__text">Unknown</div>
                                        </div>
                                        <div class="grid-el__col">
                                            <h3 class="grid-el__title">Заключение</h3>
                                            <div class="grid-el__text">Unknown</div>
                                        </div>
                                        <div class="grid-el__col">
                                            <h3 class="grid-el__title">Дата ответа</h3>
                                            <div class="grid-el__text">владелец</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="case__item-content ending case-hidden" id='4'>
                            <ul class="data">
                                <li class="data__item">
                                    <h3 class="data__item-title">Дата</h3>
                                    <div class="data__item-text">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas totam
                                        explicabo voluptatibus veritatis dolor! Ad nesciunt voluptatum, praesentium rem
                                        deleniti repellat delectus quos! Veniam sit quasi laboriosam iste minima
                                        incidunt.
                                    </div>
                                </li>
                                <li class="data__item">
                                    <h3 class="data__item-title">Эксперт</h3>
                                    <div class="data__item-text">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas totam
                                        explicabo voluptatibus veritatis dolor! Ad nesciunt voluptatum, praesentium rem
                                        deleniti repellat delectus quos! Veniam sit quasi laboriosam iste minima
                                        incidunt.
                                    </div>
                                </li>
                                <li class="data__item">
                                    <h3 class="data__item-title">Специальность</h3>
                                    <div class="data__item-text">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas totam
                                        explicabo voluptatibus veritatis dolor! Ad nesciunt voluptatum, praesentium rem
                                        deleniti repellat delectus quos! Veniam sit quasi laboriosam iste minima
                                        incidunt.
                                    </div>
                                </li>
                                <li class="data__item">
                                    <h3 class="data__item-title">Дата Изменения</h3>
                                    <div class="data__item-text">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas totam
                                        explicabo voluptatibus veritatis dolor! Ad nesciunt voluptatum, praesentium rem
                                        deleniti repellat delectus quos! Veniam sit quasi laboriosam iste minima
                                        incidunt.
                                    </div>
                                </li>
                            </ul>
                            <button class="add-smth ending__btn">Добавить заключение</button>
                        </div>
                        <a class="random-link" href="#">
                            <div class="random-link__custom">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
                                </svg>
                            </div>
                            На консультацию
                        </a>
                    </div>
                    <div class="paint">
                        <iframe style="width:100%; height:1000px;" id="miniPaint"
                            src="https://viliusle.github.io/miniPaint/" allow="camera"></iframe>
                    </div>
                </div>
                <div class="main__comments">
                    <div class="comment-block">
                        <h2 class="comment-block__title">Комментарии</h2>
                        <form class="comment-block__form">
                            <textarea class="comment-block__text" placeholder="Комментарий"></textarea>
                            <button class="comment-block__btn">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
{% endblock %}
</html>